html,
body {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24,0,0);
}

#backdrop {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: transparent no-repeat center center;
  will-change: opacity, background-image;
  transition: opacity 1.2s;
}
#backdrop.transitioning {
  opacity: 0.3;
  transition: opacity 0.2s;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 480px;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(80px) perspective(450px) rotateX(-9deg) rotateY(13deg);
  position: absolute;
  width: 600px;
}

#currentPrompt {
  box-sizing: border-box;
  min-height: 1.6rem;
  width: 100%;
  background-color: rgba(255,255,255,0.6);
  box-shadow: 0 1em 0.5em 2em rgba(255,255,255,0.6);
  outline: none;
  font-size: 2em;
  padding: 8px;
  margin: 8px;
}

#wordPicker {
  box-sizing: border-box;
  font-size: 2em;
  min-height: 3rem;
  background-color: rgba(0,0,0, 0.3);
  color: white;
  outline: 1px dotted white;
  width: 8em;
  padding: 8px 4px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
#wordPicker.empty {
  visibility: hidden;
}

#wordsLine {
  position: absolute;
  top: 0;
  left: 0;
}

#wordsLine > .word {
  display: inline-block;
  padding: 3px;
}

#wordsLine > .word[selected] {
  outline: 1px solid white;
  padding: 6px;
}

#toolTray {
  display: none;
}
