html,
body {
  margin: 0;
  padding: 0;
}
html {
  display: flex;
  justify-content: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 0, 0);
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  aspect-ratio: 16/9;
  position: absolute;
}

.grid-layer-stack {
  display: grid;
  position: relative;
}
.grid-layer-stack > .layer {
  grid-column: 1 / -1; /* Spans from the first to the last column line */
  grid-row: 1 / -1; /* Spans from the first to the last row line */
  z-index: 0;
  min-height: 0;
}
.grid-layer-stack > .layer[hidden] {
  visibility: collapse;
}

.backdrop {
  width: 100%;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

#pageBackdrop {
  will-change: opacity, background-image;
  transition: opacity 1.2s;
}
#pageBackdrop.transitioning {
  opacity: 0.3;
  transition: opacity 0.2s;
}

.prompt-outer {
  position: absolute;
  box-sizing: border-box;
  top: 6.5%;
  right: 2.2%;
  height: 45.5%;
  width: 52%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;

  background-image: linear-gradient(to bottom, #ef82d2, #603f88);
  border: solid 6px #cfbf62;
  border-radius: 10px;
}
.prompt-inner {
  color: white;
}

.layer-stack {
  position: relative;
}
.layer-stack > .layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
.layer-stack > .layer[hidden] {
  visibility: collapse;
}

#selection.selection-outer {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 30%;
  width: 58%;
}

#selectionBackdrop {
  top: 8%;
  bottom: 8%;
  background: url('./images/gold_rolo_complete.png') no-repeat;
  background-size: cover;
}

#wordPicker {
  box-sizing: border-box;
  font-size: 2em;
  min-height: 3rem;
  color: white;
  padding: 0 4px;
  white-space: nowrap;
  overflow: hidden;
  top: 33%;
}
#wordPicker.empty {
  visibility: hidden;
}
#wordPicker:focus-visible {
  outline: none;
}

#wordsLineReticule {
  position: absolute;
}

#wordsLineReticule > * {
  user-select: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 33.33%;
}
#wordsLineReticule > .cursor {
  pointer-events: auto;
  background-size: cover;
  aspect-ratio: 2/1;
  width: 61%;
  left: 26%;
  top: -3%;
  bottom: 0;
  position: absolute;
}
#wordsLineReticule > .left {
  left: 0;
}
#wordsLineReticule > .right {
  right: 0;
}

#wordsLine {
  position: relative;
  top: 0;
  right: 0;
}

#wordsLine > .word {
  display: inline-block;
  padding: 1% 5%;
}

#wordsLine > .word[selected] {
  outline: 1px solid white;
  padding: 6px;
}
