html,
body {
  margin: 0;
  padding: 0;
}
html {
  display: flex;
  justify-content: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 0, 0);
  width: 100%;
  height: 100vh;
}

#backdrop {
  position: center;
  width: 100%;
  aspect-ratio: 16/9;
  background: transparent no-repeat center center;
  will-change: opacity, background-image;
  transition: opacity 1.2s;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
#backdrop.transitioning {
  opacity: 0.3;
  transition: opacity 0.2s;
}

main {
  width: 100%;
  aspect-ratio: 16/9;
  position: absolute;
}

#currentPrompt {
  position: absolute;
  box-sizing: border-box;
  top: 6.5%;
  right: 2.2%;
  height: 44.5%;
  width: 52%;
  padding: 2%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2em;
  color: white;
}

#wordPicker {
  bottom: 0;
  box-sizing: border-box;
  font-size: 2em;
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  outline: 1px dotted white;
  width: 8em;
  padding: 8px 4px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
#wordPicker.empty {
  visibility: hidden;
}

#wordsLineReticule {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
#wordsLineReticule:is(:hover, :focus) .center {
  outline: 1px solid cyan;
}
#wordsLineReticule:active .center {
  outline: 1px solid blue;
}

#wordsLineReticule .center {
  outline: 1px solid black;
}

#wordsLine {
  position: absolute;
  top: 0;
  left: 0;
}

#wordsLine > .word {
  display: inline-block;
  padding: 3px;
}

#wordsLine > .word[selected] {
  outline: 1px solid white;
  padding: 6px;
}

letter-box {
  position: relative;
}
letter-box > * {
  position: absolute;
  user-select: none;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.3);
}
letter-box > .center {
  pointer-events: auto;
  width: 50%;
  left: 25%;
  right: 25%;
  top: 3px;
  bottom: 3px;
  background-color: transparent;
}
letter-box > .left,
letter-box > .right {
  width: 25%;
  height: 100%;
}
letter-box > .left {
  left: 0;
}
letter-box > .right {
  right: 0;
}
letter-box > .top,
letter-box > .bottom {
  width: 100%;
  height: 3px;
}
letter-box > .top {
  top: 0;
}
letter-box > .bottom {
  bottom: 0;
}

#toolTray {
  display: none;
}
